.galeria {
    margin-top: 20px;
  }
  
  .tituloGaleria, .tituloCultos, .tituloRedes {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 10vh;
  }
  
  .tituloGaleria h1, .tituloCultos h2, .tituloRedes h2 {
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 0;
    transition: 0.2s ease;
    font-weight: bold;
    background: linear-gradient(to right, #fe8719, #fe3012);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  
  .galeriaImages, .cultosImages, .redesImages {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  
  .galeriaImages img, .cultosImages img, .redesImages img {
    object-fit: cover;
    border-radius: 10px;
  }
  