@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030303;
    --foreground: #ededed;
  }
}
html, body {
  height: 100%;
  margin: 0;
}

body {
<<<<<<< HEAD
  background: #030303;
  color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
=======
  background-color: black;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  color: white;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
>>>>>>> 8dea4da (Front parcialmente feito)
}

.react-calendar {
  font-size: 1rem; /* Aumenta a fonte */
}

<<<<<<< HEAD
html {
  scroll-behavior: smooth;
}

.react-calendar__tile {
  height: 50px !important; /* Altura dos quadrados */
  /* Largura dos quadrados */
}
=======
.react-calendar__tile {
  height: 50px !important; /* Altura dos quadrados */
  /* Largura dos quadrados */
}
>>>>>>> 47f7474 (Correção Telas, Implem Escala, Exceções em Usuarios)
