:root {
  --size-max-width-img: 240px;
  --size-max-heigth-img: 180px;
  --size-max-heigth-card: 100px;
  --font-size-h2-card: 1.5rem;
  --font-size-p: 1rem;
}
.container {
  position: relative;
}

.botaoEditar {
  position: absolute;
  top: 17%;
  right: 16px;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: red;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background 0.3s;
}

.iconeEditar {
  width: 20px;
  height: 20px;
  filter: invert(1);
  transition: filter 0.3s;
}

.botaoEditar:hover .iconeEditar {
  filter: invert(0); 
}

.botaoEditar:hover{
  background-color: #fff;
  color: #0a0a0a;
}

/* Modal do banner */
.modalOverlayBanner {
  color: #0a0a0a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modalContentBanner {
  background: rgb(223, 222, 222);
  border-radius: 10px;
  padding: 1rem 4rem;
  max-width: 500px;
  max-height: 600px;
  width: 90%;
  position: relative;
}

.modalSectionBanner {
  margin-top: 1rem;
}

.modalSectionBanner img{
  border: 2px solid rgb(255, 94, 0);
  border-radius: 8px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.inputText {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  background-color: #e5e5e5;
  border-radius: 5px;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.3);

}

.modalActionsBanner {
  display: flex;
  justify-content:center;
  gap: 1rem;
  margin-top: 1.5rem;
}

/* BANNER */
.banner {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.logoPrincipal {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 500px;
}

.logoPrincipal h1 {
  margin-top: -13px;
  font-size: 40px;
  font-weight: bold;
}

/* SOBRE */
.botaoEditarSobre {
  position: absolute;
  top: 105%;
  right: 16px;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: red;
  font-size: 1rem;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background 0.3s;
}

.botaoEditarSobre:hover .iconeEditar {
  filter: invert(0); 
}

.botaoEditarSobre:hover{
  background-color: #fff;
  color: #0a0a0a;
}

#sobre {
  position: relative;
  margin-top: 10vh;
  padding: 0 5vw;
}

.conteudoSobre {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-top: 10%;
}

.textContainer {
  order: 1;
  flex: 1 1 400px;
}

.imageContainer {
  order: 2;
  flex-shrink: 0;
  margin-left: 7%;
}

.sobreImagem {
  max-height: 500px;
  max-width: 700px;
  object-fit: contain;
  height: auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  flex-shrink: 0;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  max-width: 500px;
  margin-left: 10%;
  flex: 1 1 300px;
}

.textContainer h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0 0 1rem 0;
  margin-left: -50px;
}

.textContainer p {
  font-size: 1.125rem; /* 18px */
  line-height: 1.6;
  text-indent: 2.5em;
  text-align: justify;
  margin: 0;
}

.modalOverlaySobre {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modalContentSobre {
  color: #0a0a0a;
  background-color: rgb(223, 222, 222);
  padding: 24px;
  border-radius: 12px;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}


/* Responsividade */
@media (max-width: 768px) {
  .conteudoSobre {
    flex-direction: column;
  }
  .textContainer, .imageContainer {
    order: unset;
    width: 100%;
  }
  .sobreImagem {
    width: 100%;
    margin: 0 auto;
  }
}


/* BOTÕES DA ÁREA DE PROGRAMAÇÃO */

.botaoAdd {
  position: absolute;
  right: 130px;
  margin-top: 10%;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: green;
  font-size: 1rem;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background 0.3s;
}

.iconeAdd {
  width: 20px;
  height: 20px;
  filter: invert(1);
  transition: filter 0.3s;
}

.botaoAdd:hover .iconeAdd {
  filter: invert(0); 
}

.botaoAdd:hover{
  background-color: #fff;
  color: #0a0a0a;
}

.container-programacao {
  position: relative;
}

.botoesLinha {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  gap: 20px; 
}

.botaoEditarProgramacao {
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: rgb(0, 0, 0);
  font-size: 1rem;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background 0.3s;
}

.botaoExcluirEvento {
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #ff0019;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background 0.3s;
}

.botaoEditarProgramacao:hover .iconeEditar {
  filter: invert(0); 
}

.botaoEditarProgramacao:hover{
  background-color: #fff;
  color: #0a0a0a;
}

.botaoExcluirEvento:hover {
  background-color: #ffffff;
  color: #0a0a0a;
}
.iconeExcluir {
  width: 20px;
  height: 20px;
  filter: invert(1);
  transition: filter 0.3s;
}

.botaoExcluirEvento:hover .iconeExcluir {
  filter: invert(0); 
}

.modalOverlayEvent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modalContentEvent {
  background-color: rgb(223, 222, 222);
  color: #0a0a0a;
  padding: 24px;
  border-radius: 12px;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}


/*PROGRAMAÇÃO*/

.programacao {
  margin-top: 20vh;
}

.programacao h2 {
  font-size: 35px;
  padding: 10px 0;
  transition: 0.2s ease;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center; /* Centraliza verticalmente */
  text-align: center;
  width: 100%;
}


.dias {
  background: linear-gradient(to right, #fe8719, #fe3012);
  color: #ffff;
  padding: 15px 40px;
  border-radius: 7px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  transition: transform 0.2s ease, opacity 0.2s ease;
  font-size: 27px;
}

.botoesDias {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
  margin-left: 30vh;
}

.botoesDias a:hover {
  color: #f1a99e;
}

.tooltip {
  position: relative;
  display: inline-block;
  margin: 8px;
}
  
.tooltipText {
  visibility: hidden;
  background: linear-gradient(to right, #fe8719, #fe3012);
  color: #fff;
  border-radius: 7px;
  padding: 8px 10px;
  position: absolute;
  z-index: 1;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}
  
.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

  
/* PROJETOS */

@media (max-width: 768px) {
  :root {
    --size-max-width-img: 500px;
    --size-max-heigth-img: 140px;
    --font-size-h2-card: 1.3rem;
    --font-size-p: 0.8rem;
  }
}

.projetos {
  padding: 2rem;
  font-family: 'Poppins', sans-serif;
  max-width: 1300px;
  margin: 0 auto; 
  margin-top: 100px;
}

.projetosHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.linkProjeto {
  font-size: 1.1rem;
  color: #fe8719;
  text-decoration: none;
  font-weight: 500;
  margin-right: 2rem; /* opcional para ajustar o espaçamento da borda direita */
  transition: color 0.2s ease;
}

.linkProjeto:hover {
  color: #fe3012;
}

.projetos h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 2rem;
  left: 4rem;
  background: linear-gradient(to right, #fe8719, #fe3012);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projetoTexto {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projetos-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 100%;
}

.projetoCard {
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
  padding: 1rem;
  max-width: 1300px;
  width: 100%;
  margin-bottom: 10px;
}

.projetoCard:hover {
  transform: translateY(-5px);
}

.fotoProjeto {
  width: var(--size-max-width-img);
  height: var(--size-max-heigth-img);
  object-fit: contain;
  border-radius: 10px;
  margin-left: 1rem;
  background-color: #0a0a0a;
  border: 1px solid rgba(255, 234, 0, 0.927);
}

.projetoDescricao {
  margin-left: 2rem;
}

.projetoTexto h2 {
  font-size: var(--font-size-h2-card);
  font-weight: bold;
  color: white;
  margin-bottom: 0.5rem;
}

.projetoTexto p {
  font-size: var(--font-size-p);
  color: #cccccc;
  max-width: 900px;
  text-align: justify;
}

/* GALERIA */

.galeria {
  margin-top: 10%;
  margin-left: 10vh;
  margin-right: 10vh;
  margin-bottom: 10vh;
  position: relative;
}
.galeriaHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 60px 20px;
}

.cultosImages {
  display: flex;
  gap: 20px;
  overflow: hidden;
}

.galeriaHeader h2 {
  font-size: 35px;
  font-weight: bold;
  background: linear-gradient(to right, #fe8719, #fe3012);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.linkGaleria {
  font-size: 1.1rem;
  color: #fe8719;
  text-decoration: none;
}

.linkGaleria:hover {
  color: #fe3012;
}

.fotoGaleria {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.fotoGaleriaPlaceholder img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.carouselWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.carouselContainer {
  width: 1170px; /* 4 imagens de 250px */
  overflow: hidden;
  border-radius: 10px;
}

.carouselTrack {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carouselItem {
  min-width: 250px;
  height: 250px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

/* Setas (ícone esquerda e direita) */
.iconLeft,
.iconRight {
  font-size: 40px;
  cursor: pointer;
  color: #fe3012;
  user-select: none;
}

.iconRight {
  transform: rotate(180deg);
}